@using System.Text.Json
@using BlazorSamples.Shared
@page "/chat"
@rendermode @(new InteractiveAutoRenderMode(prerender: true))
@inject ApiClient Api

@if (engine == ChatEngine.OpenAI)
{
    <PageTitle>OpenAI</PageTitle>

    <h1>OpenAI</h1>
}
else if (engine == ChatEngine.SemanticKernel)
{
    <PageTitle>Semantic Kernel</PageTitle>

    <h1>Semantic Kernel</h1>
}
else if (engine == ChatEngine.TypeChat)
{
    <PageTitle>Type Chat</PageTitle>

    <h1>Type Chat</h1>
}
else if (engine == ChatEngine.KernelPlugins)
{
    <PageTitle>Kernel Plugins</PageTitle>

    <h1>Kernel Plugins</h1>
}

<input type="radio" checked="@(engine == ChatEngine.OpenAI)"
    name="Engine" @onchange="@(() => engine = ChatEngine.OpenAI)" />
<label>OpenAI</label>

<input type="radio" checked="@(engine == ChatEngine.SemanticKernel)"
    name="Engine" @onchange="@(() => engine = ChatEngine.SemanticKernel)" />
<label>Semantic Engine</label>

<input type="radio" checked="@(engine == ChatEngine.TypeChat)"
    name="Engine" @onchange="@(() => engine = ChatEngine.TypeChat)" />
<label>Type Chat</label>

<input type="radio" checked="@(engine == ChatEngine.KernelPlugins)"
    name="Engine" @onchange="@(() => engine = ChatEngine.KernelPlugins)" />
<label>Kernel Plugins</label>

@if (response is not null)
{
    <div>
        <label>Response</label>
        <p>@response.Message</p>
    </div>
}

<p>Ask question</p>

<EditForm Model="request" OnSubmit="SubmitAsync">
    <div class="form-group">
        <label for="Message">Question</label>
        <InputTextArea id="Message" class="form-control" rows="3" @bind-Value="request.Message" />
    </div>

    <button type="submit" class="btn btn-primary">Send</button>
</EditForm>

@code {
    private ChatEngine engine = ChatEngine.OpenAI;

    private ChatRequest request = new() { Message = "I need to get my tires changed from 12:00 to 2:00 pm on Friday March 15, 2024" };
    private ChatResponse? response;

    private async Task SubmitAsync()
    {
        if (engine == ChatEngine.OpenAI)
        {
            response = await Api.ChatAsync(request);
        }
        else if (engine == ChatEngine.SemanticKernel)
        {
            response = await Api.KernelAsync(request);
        }
        else if (engine == ChatEngine.TypeChat)
        {
            var calendarActions = await Api.TypeChatAsync(request);
            response = new ChatResponse { Message =  JsonSerializer.Serialize(calendarActions) };
        }
        else if (engine == ChatEngine.KernelPlugins)
        {
            response = await Api.KernelPluginsAsync(request);
        }
    }
}
