@using BlazorSamples.Shared
@page "/people"
@attribute [StreamRendering]
@rendermode @(new InteractiveAutoRenderMode(prerender: false))
@inject NavigationManager NavigationManager
@inject PersonApiClient PersonApi

<PageTitle>People</PageTitle>

<h1>People</h1>

<p>This component demonstrates showing list.</p>

@if (people is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <td><NavLink class="btn btn-primary" href="@($"/edit-person")">Add</NavLink></td>
    <table class="table">
        <thead>
            <tr>
                <th>First</th>
                <th>Last</th>
                <th>Age</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in people)
            {
                <tr>
                    <td>@person.FirstName</td>
                    <td>@person.LastName</td>
                    <td>@person.Age?.ToString(CultureInfo.InvariantCulture)</td>
                    <td><NavLink class="btn btn-primary" href="@($"/edit-person/{person.Id.Value}")">Edit</NavLink></td>
                    <td><button class="btn btn-danger" @onclick="() => Delete(person.Id.Value)">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Person[]? people;

    protected override async Task OnInitializedAsync()
    {
        // Simulate asynchronous loading to demonstrate streaming rendering
        await Task.Delay(0);
        people = await PersonApi.GetPersonAsync();
    }

    private async Task Delete(int id)
    {
        await PersonApi.DeletePersonAsync(id);
        people = await PersonApi.GetPersonAsync();
    }
}
